:root {
  --highlight: #e60660;
  --base-1: #eef1f3;
  --base-2: #2f2f2f;
  --base-3: #1c1c1c;
  --base-4: #141414;

  --bar-size: 10px;
  --bar-radius: 60px;
  --bar-background: rgba(0, 0, 0, 0.1);
  --loading-time: 3s;

  --nav-width: 200px;
}

* {
  color: var(--base-1);
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  background-color: var(--base-3);
}

button {
  background-color: var(--base-4);
  border: none;
  border-radius: 5px;
  font-size: 20pt;
}
