:root {
  --green: #75b800;
  --light-grey: #eef1f3;

  --bar-size: 10px;
  --bar-radius: 60px;
  --bar-background: rgba(0, 0, 0, 0.1);
  --loading-time: 5s;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  background-color: var(--light-grey);
}
