.progress-bar {
  background-color: var(--bar-background);
  border-radius: var(--bar-radius);
  overflow: hidden;
  width: 50vw;
}

.progress {
  animation: loader var(--loading-time) ease infinite;
  background: var(--green);
  height: var(--bar-size);
}

@keyframes loader {
  0% {
    width: 0;
  }

  70% {
    width: 60%;
  }

  80% {
    width: 75%;
  }

  90% {
    width: 80%;
  }

  100% {
    width: 100%;
  }
}
